@charset "UTF-8";
/* Author: Efthymia Kostaki - 8170055
   Author: Paris Mpampaniotis - 8170080
   Author: Theodosis Tsaklanos - 8170136
*/

#bar-label {
	line-height: 1;
}

.badge {
	background-color: #353535;
}

.progress {
	height: 12px;
}

.progress-bar {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.progress-bar-enterprice-blue {
	background-color: #315b96;
}

.fa-star {
	color: #606060;
	cursor: pointer;
}

.checked {
  color: #315b96;
}

textarea {
    max-width: 100%; 
    max-height: 100%;
    resize: none;
    margin-bottom: 20px;
}

#textarea-feedback {
	color: darkorange;
}

.rating-block{
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block {
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:16px;
}
.review-block-date{
	font-size:12px;
	margin-top: 5px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}

.fa-times {
    color: #d11a2a; !important
}

.fa-times:hover {
	color: #b3000c; !important
}
